body {
    background-color: rgb(71, 67, 67);
    text-align: justify;
    align-items: center;
    color: white;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: 0.3s ease;
}
.logo img:hover{
    transform: scale(1.1);
}
.inline {
    display: flex;
    align-items: center;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-image: url(background1.jpg);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0)0%, rgba(0,0,0,7)100%), url(background1.jpg);
    background-size: cover;
}
.links ul {
    list-style-type: none;
}
footer ul {
    list-style-type: none;
    display: flex;
}
#contact {
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    display: flex;
    padding: 5px;
}
footer {
    background-color: rgb(42, 59, 54);
}
footer p {
    text-align: center;
    padding-bottom: 2px;
}
.vision p, #about p {
    text-align: justify;
}
#contact li a img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#contact li a img {
    transition: 0.3s ease;
}
#contact img {
    margin-right: 10px;
    margin-top: 0px;
    padding-top: 0px;
}
#contact img:hover{
    transform: scale(1.1);
}
.links li a {
    text-decoration: none;
    color: silver;
    transition: color 0.3s;
}
.links li a:hover{
    color: blue;
}
.boxes {
    display: inline;
    gap: 20px;
    padding: 20px;
}
.box1, .box2 {
    flex: 1;
    border: 1px solid white;
    background-color: rgb(18, 11, 22);
    padding-right: 5px;
    padding-left: 5px;
}
.boxes h2 {
    text-align: center;
}
.introimg {
    background-image: url(pic4.jpg);
    display: flex;
    opacity: 0.6;
    height: 200px;
    width: auto;
    padding: 5px;
    margin-inline: 2px;
}
.musevenomics img, .unityfm img, .pageantry img {
    width: 200px;
    height: auto;
}
.gal img {
    height: 150px;
    width: auto;
    display: ruby;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
    mask-border-width: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}